<div class="div">
  <div class="div2">
    <div class="rectangle-1"></div>
    <img class="dk-photo-1" src="dk-photo-10.png" />
  </div>
  <div class="div3">
    <img class="blue" src="blue0.png" />
    <img class="dankook-b" src="dankook-b0.png" />
    <img class="dankook-w" src="dankook-w0.png" />
    <img class="dwyl" src="dwyl0.png" />
    <img class="green" src="green0.png" />
    <img class="seoulddp" src="seoulddp0.png" />
  </div>
  <div class="_1">
    <div class="rectangle-5"></div>
    <div class="div4">단국네컷</div>
    <div class="dksh-noid-four-cut">DKSH NOID FOUR CUT</div>
    <div class="div5">시작하기 →</div>
  </div>
  <div class="div6">
    <div class="make-your-4-cuts">MAKE YOUR 4CUTS</div>
    <div class="_2025-ddp">2025 DDP</div>
  </div>
</div>
