.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 982px;
  position: relative;
  overflow: hidden;
}
.div2 {
  position: absolute;
  inset: 0;
}
.rectangle-15,
.rectangle-16,
.rectangle-17,
.rectangle-18,
.rectangle-19,
.rectangle-20 {
  position: absolute;
  width: 250px;      
  height: 250px;     
  background: #d9d9d9; 
  overflow: hidden;    
}

.rectangle-15 {
  left: 7.4%;
  top: 21.7%;
}

.rectangle-17 {
  left: calc(7.4% + 250px + 39px); 
  top: 21.7%;
}

.rectangle-19 {
  left: calc(7.4% + 2 * (250px + 39px));
  top: 21.7%;
}

.rectangle-16 {
  left: 7.4%;
  top: calc(21.7% + 250px + 57px);
}

.rectangle-18 {
  left: calc(7.4% + 250px + 39px);
  top: calc(21.7% + 250px + 57px);
}

.rectangle-20 {
  left: calc(7.4% + 2 * (250px + 39px));
  top: calc(21.7% + 250px + 57px);
}
.rectangle-15 img,
.rectangle-16 img,
.rectangle-17 img,
.rectangle-18 img,
.rectangle-19 img,
.rectangle-20 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.rectangle-21 {
  background: #3832e9;
  border-radius: 20px;
  width: 441px;
  height: 558px;
  position: absolute;
  left: 967px;
  top: 212px;
}
._4 {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 967px;
  top: 400px;
  width: 441px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3 {
  width: 277px;
  height: 89px;
  position: static;
}
.rectangle-22 {
  background: #ffffff;
  border-radius: 50px;
  width: 277px;
  height: 86px;
  position: absolute;
  left: 1049px;
  top: 559px;
}
.div4 {
  color: #000000;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 1049px;
  top: 556px;
  width: 277px;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}
