._1,
._1 * {
  box-sizing: border-box;
}
._1 {
  background: #ffffff;
  height: 982px;
  position: relative;
  overflow: hidden;
}
.photo-view {
  border-radius: 20px;
  border-style: solid;
  border-color: #333333;
  border-width: 10px;
  width: 400px;
  height: 520px;
  margin: 183px auto 0;
}
.div {
  position: absolute;
  inset: 0;
}
.rectangle-8 {
  display: block;
  background: #3832e9;
  border-radius: 50px;
  width: 253.19px;
  height: 81px;
  margin: 3em auto;
}
.div2 {
  color: #ffffff;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  width: 254px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
}
